/* Estilo global do body */
body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  background-color: #0b2042;
  /* Cor de fundo azul escuro */
  color: #ffffff;
  /* Cor do texto branco */
}

main {
  background: linear-gradient(160deg, #090c30 0%, #1e2a91 50%, #3d84d6c7 100%);
}

/* Estilo da imagem que não possui senhas */
.img-no-itens {
  display: block;
  margin: 26vh auto 50px auto;
  width: 320px;
}

table {
  border-spacing: 0 !important;
}

/* ESTILO BOTÃO ADICIONAR SENHAS */
.button {
  --main-focus: #2d8cf0;
  --font-color: #dedede;
  --bg-color-sub: #161f2a;
  --bg-color: #2b3649;
  --main-color: #dedede;
  position: relative;
  width: 170px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  box-shadow: 2px 2px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
  margin: 0 25vw 0 auto;
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(25px);
  color: var(--font-color);
  font-weight: 700;
  font-size: 18px;
}

.button .button__icon {
  position: absolute;
  transform: translateX(129px);
  height: 100%;
  width: 39px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 20px;
  stroke: var(--main-color);
}

.button:hover {
  background: var(--bg-color);
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 170px;
  transform: translateX(0);
}

.button:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}


.bin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(255, 95, 95);
  cursor: pointer;
  border: 2px solid rgb(255, 201, 201);
  transition-duration: 0.3s;
}

.bin-bottom {
  width: 15px;
}

.bin-top {
  width: 17px;
  transform-origin: right;
  transition-duration: 0.3s;
}

.bin-button:hover .bin-top {
  transform: rotate(30deg);
}

.bin-button:hover {
  background-color: rgb(255, 0, 0);
}

.bin-button:active {
  transform: scale(0.9);
}

/*BOTÃO ATUALIZAR*/

.Btn {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  /* overflow: hidden; */
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 2;
  margin: 0 15px;
}

.svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
  z-index: 2;
}

.BG {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.493);
  z-index: 1;
  border-radius: 10px;
  pointer-events: none;
  transition: all 0.3s;
}

.Btn:hover .BG {
  transform: rotate(10deg);
  transform-origin: bottom;
  z-index: 1;
}

.Btn:hover .svgContainer {
  background-color: rgba(207, 207, 207, 0.466);
  backdrop-filter: blur(4px);
  z-index: 2;
}

.buttons {
  display: flex;
  width: fit-content;
}

.toggle-password {
  cursor: pointer;
}

/* Estilo para o formulário INICIALMENTE INVISÍVEL */
.form-container {
  position: absolute;
  /* Fixo na tela */
  top: 40vh;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Centraliza na tela */
  z-index: 1000;
  /* Garante que sobreponha outros elementos */
  opacity: 0;
  /* Escondido inicialmente */
  visibility: hidden;
  /* Não é clicável ou ocupando espaço */
  background-color: #122a4a;
  /* Fundo escuro no formulário */
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 60%;
  transition: opacity 1s ease, visibility 0s linear 1s;
}

/* Quando o formulário ESTÁ VISÍVEL */
.form-container.show {
  opacity: 1;
  /* Torna o formulário visível */
  visibility: visible;
  /* Torna clicável e visível */
  transition: opacity 1s ease, visibility 0.5s;
  /* Reseta a visibilidade instantaneamente */
}

.form-container label {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  /* Texto branco */
}

.form-container input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: #000000;
  /* Texto preto */
  background-color: #ffffff;
  /* Fundo branco nos inputs */
  width: 100%;
  margin-bottom: 15px;
}

.form-container input:focus {
  outline: none;
  border: 2px solid #4285f4;
  /* Borda azul ao focar */
}

.save-btn,
.cancel-btn {
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.save-btn {
  background-color: #1c91ff;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.save-btn:hover {
  background-color: #0b5ab7;
}

.cancel-btn {
  background-color: #ea4335;
  color: #ffffff;
}

.cancel-btn:hover {
  background-color: #d93b30;
}

/* Estilo da tabela de senhas salvas */
.saved-table {
  min-width: fit-content;
  width: 60%;
  margin: 6% auto 20vh auto;
  background-color: #0d3b66;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* Sombra leve */
}

.saved-table table {
  width: 100%;
  color: #ffffff;
}

.saved-table th,
.saved-table td {
  padding: 15px;
  text-align: left;
  border-right: 2px solid #1c91ff;
  /* Adiciona a linha vertical branca */
}

.saved-table th:last-child,
.saved-table td:last-child {
  border-right: none;
  /* Remove a linha na última coluna */
}

.saved-table th {
  background-color: #122a4a;
  color: #ffffff;
  /* Título da tabela em branco */
  border-bottom: 2px solid #1c91ff;
}

.th-left {
  border-top-left-radius: 10px;
}

.th-right {
  border-top-right-radius: 10px;
}

.saved-table td a {
  color: #1c91ff;
  text-decoration: underline;
  transition: color 0.2s ease;
  color: white;
}

.saved-table td a:hover {
  color: #4285f4;
  /* Mudança de cor ao passar o mouse */
}

.update-btn,
.delete-btn {
  padding: 8px 12px;
  background-color: #1c91ff;
  border: none;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.update-btn:hover,
.delete-btn:hover {
  background-color: #0b5ab7;
}